@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.game {
  width: auto;
  height: auto;
}

/*A partir daqui: */
.img_dicas {
  width: 40px;
}

.resultados-box {
}

.navbar {
  background-color: #d4ce82;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/** Menu **/
.navbar-menu {
  background-color: #95bb45;
  color: #fff;
  height: 70px;
}

.navbar-menu ul {
  display: flex;
}

.navbar-menu a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar-menu a:hover {
  border-bottom: 2px #fff solid;
}

.navbar-menu .flex {
  justify-content: space-between;
}

/**Menu**/

.scores {
  background-color: #b9b369;
  color: #343434;
  height: 80px;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px;
}

.float-container {
  background-color: #d4ce82;
  background-repeat: no-repeat;
  padding: 0 40px;
  margin-right: 50px;
  width: 100%;
  height: 500px;
}

.background-inicial {
  background-image: url("../image/background/Background_02.png");
}

.background-erro {
  background-image: url("../image/background/Background_03.png");
  z-index: 1;
}

.background-acerto {
  background-image: url("../image/background/Background_01.png");
}

/**float-container-menu**/
.container-menu {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px;
}

.float-container-menu {
  background-color: #95bb45;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  padding-left: 150px;
}

.float-container-menu::after {
  content: "";
  clear: both;
  display: table;
}

.caixa-imagem-fundo-menu {
  background-color: #95bb45;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.opcao-menu {
  float: left;
  width: 274px;
  height: 91px;
  margin: 0px 20px 0px 20px;
}

.img-fundo {
  width: 100%;
  height: 500px;
  padding: 0 40px;
  margin-right: 50px;
}

.img-fogo {
  width: 150px;
  height: 150px;
}

.img-menu {
  width: 274px;
  height: 91px;
  margin: 0px 200px 0px 200px;
}
/**float-container-menu**/

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

span {
  text-align: center;
  font-weight: 50;
  font-weight: bolder;
  margin: 0px 0px 0px 5px;
}

input {
  background-color: #d4ce82;
  border: 0px;
  width: 160px;
  height: 46px;
  text-align: center;
  border-radius: 15px;
}

#cristais {
  margin: 0px 5px;
  width: 160px;
  text-align: center;
  background-color: #d4ce82;
  border-radius: 15px;
}

#vidas {
  margin: 0px 5px;
  width: 160px;
  text-align: center;
  background-color: #d4ce82;
  border-radius: 15px;
}

.item_score {
  padding: 10px;
  margin: 0px 20px;
}

img {
  width: 40px;
  height: 40px;
}

/*FIM AQUI*/

.img_resultado {
  height: auto;
  width: auto;
  max-width: 70px;
  max-height: 80px;
  border-radius: 50%;
}

.img-braillinho {
  width: 100px;
  height: 175px;
  margin-left: 20px;
}

.img-check {
  width: 50px;
  height: 50px;
  margin-top: 27px;
  margin-left: 22px;
}

/*para letras*/
.espaco_letras {
  margin: 10px 12px 0px 12px;
}

#caixa_campo {
  border-radius: 40px;
  padding: 20px;
  width: 100px;
  height: 175px;
  margin-left: 350px;
  margin-top: 90px;
  display: table;
  object-fit: cover;
  z-index: 0;
}

#caixa_linha {
  display: table;
  z-index: 0;
}

#caixa_linha > div {
  table-layout: fixed;
  z-index: 0;
}

.letra {
  width: 60px;
  flex: 1;
  padding: 1px;
  height: max-content;
}
/*fim para letras */

/*Opcao (style)*/
.img_botao {
  height: auto;
  width: auto;
  max-width: 70px;
  max-height: 80px;
  border-radius: 80%;
  z-index: 0;
}

#opcao {
  width: 20px;
  height: 15px;
  margin: 3px 1px 3px 2px;
  display: table-cell;
}
/*Fim Opcao (Style)*/

button {
  background-color: #78aa2e;
  border: none;
  cursor: pointer;
}

/*Letra resultado*/
/* #caixa_bombas_bandeiras {
  text-align: center;
  width: 100px;
  height: 80px;
  margin-left: 525px;
  margin-top: 5px;
} */
/*fim letra resultado */

.lanterna {
  background-color: #d4ce82;
}

.logo {
  width: 130px;
  height: 40px;
}
